$pastel-purple: #9f8fb0;
$pastel-pink: #f4c2be;
$pastel-blue: #9bd2cd;
$pastel-orange: #ffdeafe1;
$dark-purple: #5a4b6b;
$dark-pink: #965f5b;
$dark-blue: #4c7572;
$dark-orange: #a56000e1;

.container {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-around;
  border: 0.5rem black solid;
}

.container-dark {
  border: 0.5rem white solid;
}

.h1-title-bold {
  font-weight: 600;
}

.h1-title-bold:hover {
  color: $pastel-blue;
}

.fed {
  background-color: $pastel-pink;
}

.perth {
  background-color: $pastel-purple;
}

.functional {
  background-color: $pastel-orange;
}

.react {
  background-color: $pastel-blue;
}

.fed-dark {
  background-color: $dark-pink;
}

.perth-dark {
  background-color: $dark-purple;
}

.functional-dark {
  background-color: $dark-orange;
}

.react-dark {
  background-color: $dark-blue;
}
