$pastel-purple: #9f8fb0;
$pastel-pink: #f4c2be;
$pastel-yellow: #fff4d1;
$pastel-blue: #9bd2cd;
$pastel-orange: #ffdeafe1;

.container {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-around;
  border: 0.5rem black solid;
}
.h1-title {
  font-size: 6em;
  font-weight: 300;
}

.h2-title {
  font-size: 3em;
  font-weight: 200;
}

.h1-title-bold {
  font-weight: 600;
}

.h1-title-bold:hover {
  color: $pastel-blue;
}

.fed {
  background-color: $pastel-pink;
}

.perth {
  background-color: $pastel-purple;
}

.functional {
  background-color: $pastel-orange;
}

.react {
  background-color: $pastel-blue;
}
