.container {
  border: black 0.5rem solid;
  padding: 0.5rem;
  width: 32.5%;
  height: 70vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.emails {
  min-width: 30vw;
}
