$pastel-yellow: #fff4d1;
$pastel-purple: #9f8fb0;

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5rem black solid;
  padding: 1rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerDark {
  background-color: #2f3d54;
  border: 0.5rem white solid;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.925);
  z-index: 1000;
}

.overlay-dark {
  background-color: #2f3d54f8;
}

.button {
  padding: 0.2rem 0.3rem;
  border: 0.3rem solid black;
  background-color: white;
  width: 100%;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: $pastel-yellow;
}

.button-dark {
  border: 0.3rem solid white;
  background-color: #2f3d54;
  color: white;
}

.button-dark:hover {
  background-color: $pastel-purple;
}
